
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>企业在线学习平台-课程检索</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="/static/css/module/advice.8cd6398243fe9343072656b519850cdc.css" rel="stylesheet"></head>
  <body>
    <div id="app">111</div>
    
  <script type="text/javascript" src="/static/js/manifest.042b2db3142806b405f6.js"></script><script type="text/javascript" src="/static/js/vendor.16d55a53129d99489190.js"></script><script type="text/javascript" src="/static/js/module/advice.6080acb7f2a1843cb5f4.js"></script></body>
</html>
