
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>企业在线学习平台-课程详情</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="/static/css/module/courseDetail.658e2845be5b53f4760d0f84e46c5d80.css" rel="stylesheet"></head>
  <body>
    <div id="app">111</div>
    
  <script type="text/javascript" src="/static/js/manifest.042b2db3142806b405f6.js"></script><script type="text/javascript" src="/static/js/vendor.16d55a53129d99489190.js"></script><script type="text/javascript" src="/static/js/module/courseDetail.39d1fda497bcabd4c353.js"></script></body>
</html>
