
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>企业在线学习平台-课程详情</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="/static/css/module/courseDetail.b1afce9301e6b7ef45aba978a215b92b.css" rel="stylesheet"></head>
  <body>
    <div id="app">111</div>
    
  <script type="text/javascript" src="/static/js/manifest.5d87e9a9c5736cc78476.js"></script><script type="text/javascript" src="/static/js/vendor.16d55a53129d99489190.js"></script><script type="text/javascript" src="/static/js/module/courseDetail.741302b36c23d33b2c5e.js"></script></body>
</html>
