
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>企业在线学习平台-讨论区</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="/static/css/module/discussion.87fe4a800e4a4f983dd34133c8df2ebb.css" rel="stylesheet"></head>
  <body>
    <div id="app">111</div>
    
  <script type="text/javascript" src="/static/js/manifest.042b2db3142806b405f6.js"></script><script type="text/javascript" src="/static/js/vendor.16d55a53129d99489190.js"></script><script type="text/javascript" src="/static/js/module/discussion.7a58eeae2e7dd32f05c1.js"></script></body>
</html>
